@import url(../bootstrap/bootstrap.min.css);
.container {
	padding: 30px 0px;
	background-color: white;
}

#logo {
	width: 30%;
}

#doctorname {
	margin: auto;
	margin-top: 75px;
	text-align: center;
}

#nutrition {
	margin: auto;
	width: 75%;
}

#mail {
	margin: auto;
		width: 35px;
}

#email {
	margin: auto;
	margin-top: 20px;
}

#correo{
	margin: auto;
		margin-top: 5px;
		text-align: center;
}

#footer {
	background-color: white;
}

span {
	padding: 5px;
}
#alignDiv{
    margin-top: 75px
}

input{
    margin-top: 10px;
    width: 250px;
}

label{
    margin-top: 10px;
}

button{
    float:right;
    background-color: #00bfae; 
    border: none;
    color: white;
    margin-top: 25px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

@media (min-device-width: 996px) and (max-width: 1366px) {
	#logo {
		width: 100%;
	}
	#mail {
		margin: auto;
		width: 35px;
		margin-top: 2px;
	}
	#email {
		margin: auto;
		margin-top: 20px;
	}
	#correo{
		margin: auto;
		margin-top: 5px;
		text-align: center;
		padding: inherit;
		word-wrap: break-word;
		padding-left: 0px;
	}
}


@media (min-device-width: 700px) and (max-width: 995px) {
	.container {
		padding: 10px 0px;
		background-color: white;
	}
	#logo {
		width: 100%;
	}
	#doctorname {
		margin: auto;
		margin-top: 45px;
		text-align: center;
	}
	#mail {
		margin: auto;
		width: 35px;
	}
	#email {
		margin: auto;
		margin-top: 10px;
	}
	#correo{
		margin: auto;
		margin-top: 5px;
		text-align: center;
		padding: inherit;
		word-wrap: break-word;
		font-size: 11px;
		padding-left: 0px;
	}
}

@media (min-device-width: 500px) and (max-width: 700px) {
	.container {
		padding: 10px 0px;
		background-color: white;
	}
	#logo {
		width: 100%;
	}
	#doctorname {
		margin: auto;
		margin-top: 45px;
		text-align: center;
	}
	#mail {
		margin: auto;
		width: 30px;
	}
	#email {
		margin: auto;
		margin-top: 10px;
	}
	#correo{
		margin: auto;
		margin-top: 5px;
		text-align: center;
		padding: inherit;
		word-wrap: break-word;
		font-size: 11px;
		padding-left: 0px;
	}
}

@media (min-device-width: 100px) and (max-width: 499px) {
	#doctorname {
	margin: auto;
	margin-top: 75px;
	text-align: center;
}
	.container {
		padding: 10px 0px;
		background-color: white;
	}
	#logo {
		width: 100%;
	}
	#doctorname {
		margin: auto;
		margin-top: 50px;
		text-align: center;
	}
	#mail {
		margin: auto;
		width: 25px;
		padding-left: 0px;
	}
	#email {
		margin: auto;
		margin-top: 10px;
	}
	#correo{
		margin: auto;
		margin-top: 5px;
		text-align: center;
		padding: inherit;
		word-wrap: break-word;
		font-size: 11px;
		padding-left: 0px;
	}
    label{
    display: none;
}
    input{
        width:100%;
    }
	
}
